  .screen-list { /* link names */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 31px;
    margin-right: 110px;
}

  a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: none;
    color: gainsboro;
  }

 .logo { /* macrosforgeeks gif */
    width: 250px;
    height: 80px;
    margin-left: 15px;
 }

 .navbar {
  background: #79CBC3;
  border-radius: 25px; /* rounded corners */
  width: 95%;
  margin-left: 36px;
  margin-top: 15px;
 }





