  .screen-list {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    vertical-align: center;
    margin-left: 17%; 
    margin-bottom: 20px;
    display: inline-block;
}

  a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: none;
    color: gainsboro;
  }
  
  a:active {
    text-decoration: none;
    color: black;
  }

 .logo {
    display: inline-block;
    vertical-align: bottom;
    width: 250px;
    height: 80px;
    margin-left: 15px;
 }

 .navbar {
  background: #79CBC3;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 25px;
 }





