.container{
  width: 600px;
}

h1 {
  font-family:'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-weight: bold;
}
/*
input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  padding: .5rem;
} */
