<img src="assets/Macros-For-Geeks-Logo.gif" class="logo"> <br>

<div class="welcome">
    <label>Welcome! Click on your picture to go to your macros.</label>
</div> <br>

<div fxLayout="row">
    <div *ngFor='let user of users; '>
        <a>

            <figure>
            <div class = "pics">
            <img
            src={{user.picture}}
            height = 296px
            width = 301px
            border-radius = 500px
            class="user-andrew"
            title={{user.name}}
            routerLink="/Home"
            (click)="this.userID(user.id)"

            >
            <figcaption text-align="auto">{{user.name}}</figcaption>
            </div>


            </figure>

        </a>
    </div>
</div>




