.logo { /* macrosforgeeks gif */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border-radius: 25px;
}
.reg-button button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 115px;
  height: 40px;
  border-radius: 25px;
  background-color: #7beb53;
  font-family: "Lucida Console", "Courier New", monospace;
}

.welcome { /* welcome msg */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-style: oblique;
  font-size: large;
}

.profile-pic, figure { /* user pictures - figure is main 4, profile-pic is dog/Tom */
  width: 200px;
  height: 200px;
  text-align: center; /* for name labels */
  border-radius: 50%; /* crops img to circle for Tom */
  margin-right: 50px; /* spacing between pictures */
  list-style-type: none; /* removes bullets from list type */
}

.all-users ul { /* positioning for user pictures */
  justify-content: center; /* centers pictures on screen */
  display: grid;
  grid-template-areas: "a a a a"; /* set how many users per row */
  grid-auto-rows: 250px; /* margin between rows */
}

.profile-pic:hover{
  opacity: 0.3;
  cursor: pointer;
}
/*
#loading{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}*/
