.row {
    max-width: 100px;
    margin: 0 auto;
    height: 100%;
<<<<<<< HEAD
=======
    /* border-radius: 50% */
>>>>>>> styling_changes2
    /* text-align:center; */
}

.row img {
    max-width: 75%;
    max-height: auto;
    padding: 20px;
<<<<<<< HEAD
    border-radius: 500px; /* crops img to circle */

}


=======
    /* border-radius: 500px; */
    /* crops img to circle */

}


>>>>>>> styling_changes2
figure {
    width: 25%;
    float: left;
    margin: 0;
    text-align: center;
    padding: 0;
    /* border-radius: 50%; */

}

.user-andrew:hover, .user-chris:hover, .user-lucas:hover, .user-nancy:hover {
    opacity: 0.3;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 25px;
}

.welcome {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-style: oblique;
    font-size: large;
}


.pics{
<<<<<<< HEAD
  width: 301px;
  height: 296px;
  margin-bottom: 40px;
  margin-left: 30px;
  border-radius: 500px; /* crops img to circle */
}
=======

  position: relative;
  overflow: hidden;

  padding: 20px
  /* margin-bottom: 20px; */


}

.profile-pic {
  height : 296px;
  width: 301px;
  border-radius: 50%;

}

.profile-pic:hover{
  opacity: 0.3;
}



>>>>>>> styling_changes2
