<br><img src="assets/Macros-For-Geeks-Logo.gif" class="logo">
<br>

  <div style="text-decoration: underline; text-align:center" routerLink="/Home/Register">
<button type="button"   routerLinkActive="active" mdbBtn color="primary" mdbWavesEffect class='search-button'>Add User</button> <br><br>
  </div>
  <br>

<div class="welcome">
    <label>Welcome! Click on your picture to go to your macros.</label>
</div>
<br><br>

<div *ngIf="!this.loaded" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only" id="loading"></span>
  </div>
</div>


<div class='all-users'>
    <ul>
        <div *ngFor='let user of users; '>
            <a>
                <figure><li>
                    <div class = "pics">
                        <img class = "profile-pic"
                        src={{user.picture}}
                        title={{user.name}}
                        routerLink="/Home"
                        (click)="this.userID(user.id)"
                        />
                        <figcaption>{{user.name}}</figcaption>
                    </div>
                </li></figure>
            </a>
        </div>
    </ul>
</div>
