

<div class ="table">
<div class="container mt-5">
    <table class="table table-striped">
      <thead>
          <tr>
            <!-- <th>UserId</th> -->
            <th>Food</th>
            <th>Servings</th>
            <th>Calories</th>
            <th>Carbohydrates(g)</th>
            <th>Fats(g)</th>
            <th>Protein(g)</th>
            <th>Date</th>
            <th>Meal-time</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let food of foods">
          <td>{{ food.food }}</td>
          <td>{{food.servings}}</td>
          <td>{{ food.calories }}</td>
          <td>{{ food.carbohydrates | number : '1.2-2'}}</td>
          <td>{{ food.fats | number : '1.2-2'}}</td>
          <td>{{ food.protein | number : '1.2-2'}}</td>
          <td>{{ food.date }}</td>
          <td>{{ food.mealTime }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<doughnut></doughnut>
