<!-- <p>macros works!</p> -->
<!-- <app-get-user></app-get-user> -->
<!-- <doughnut></doughnut> -->
<!-- <input type="text" [(ngModel)]="userID"> -->
<div fxLayout="row">
<div class="table">
<div class="container mt-5">
    <table class="table table-striped">
      <thead>
          <tr>
            <!-- <th>UserId</th> -->
            <th>Food</th>
            <th>Servings</th>
            <th>Calories</th>
            <th>Carbohydrates(g)</th>
            <th>Fats(g)</th>
            <th>Protein(g)</th>
            <th>Date</th>
            <th>Meal-time</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let food of foods">
          <td>{{ food.foodfood }}</td>
          <td>{{food.servings}}</td>
          <td>{{ food.calories }}</td>
          <td>{{ food.carbohydrates }}</td>
          <td>{{ food.fats }}</td>
          <td>{{ food.protein }}</td>
          <td>{{ food.date }}</td>
          <td>{{ food.mealTime }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="right">
  <doughnut></doughnut>
</div>
</div>
