<input type="text" [(ngModel)]="InputFood">
<button type="button"(click)="onClick()" mdbBtn color="primary" mdbWavesEffect>Search</button>
<h3>Results: {{this.description}}</h3>
<br>
<h3>Category:  {{this.FoodCategory}} </h3>
<br>

<div *ngFor= "let list of NutrientDis">
  <h3>{{list.nutrientName}}</h3>
  {{list.value}}
</div>

<div *ngIf = description>
  <br/>
  <select (change)="update($event)" >
    <option *ngFor="let meal of mealTime" [value]='meal'>
        {{meal}}
    </option>
  <p>You selected {{selected}}</p>

</select>
  <br/>
  <!-- <label>User ID: </label> -->
  <!-- <input [(ngModel)] = "food.UserId"/> -->
  <button type="button"(click)="PostFoods()" mdbBtn color="primary" mdbWavesEffect>Post</button>
</div>

<!-- <button [swal]="['Notification!', ' This is basic notification/', 'info']">
  Click Me
</button> -->
