<input type="text" [placeholder]="'Enter food item to search'"  (keydown.enter)="searchFood()" [(ngModel)]="InputFood" style="width: 97%; margin-left: 7px;"> <br><br>


<div *ngIf = description>

  <div style="text-align: center;" class="input">
  <select (onClick)="searchFood()" (keydown.enter)="searchFood()"  size="5" id="meals" [(ngModel)]="this.InputFood" >
    <option *ngFor="let res of results" [ngValue]='res | titlecase'  (search)="searchFood()">
      {{res | titlecase}}
    </option>
  </select>


<button style="margin-bottom: 50px" type="button" (click)="searchFood()" mdbBtn color="primary" mdbWavesEffect class='search-button'>Search</button>
  </div>

<div *ngIf="!description" class="d-flex justify-content-center">
  <div  *ngIf="this.loaded" class="spinner-border" role="status">
    <span class="sr-only" id="loading"></span>
  </div>
</div>

<h3 style="font-weight: bold">Results for {{this.description | titlecase}}:</h3>

<h4><span style="text-decoration: underline;">Category:</span>  {{this.FoodCategory}} </h4>
<br/>
<div *ngFor= "let list of NutrientDis">
  <h4><span style="text-decoration: underline;">{{list.nutrientName | titlecase}}:</span> {{list.value * this.serving | number : '1.0-2' }}</h4>
</div>
<br/>

  <!-- Enter serving size -->
    <h4><label>Enter serving:  </label></h4>
  <div class = 'serv'>
    <input class = 'serv' type="text" [(ngModel)]="serving">
  </div>
  <br>

  <!-- Enter meal type-->
  <div class="dropbox-container">
  <label for="dropbox"><h4>When was your meal? </h4>
  <select (keydown.enter)="PostFoods()"   id="dropbox" (change-mealTime)="update($event)" >
    <option *ngFor="let meal of mealTime" [value]='meal.meal' >
        {{meal.meal}}
    </option>
</select>
</label>
</div>
  <br/>

  <!-- Post button -->
    <button type="button"(click)="PostFoods()" mdbBtn color="primary" mdbWavesEffect class="post-button">Post</button>
</div>
