.search input {
  margin: 1rem 0;
}

input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  padding: .5rem;
}

.serv {
  width: 41%;
  display: flex;
  white-space:nowrap;
  text-align: center;
}

.serv label {
  margin-right: 10px;
  margin-top: 5px;
}

.dropbox {
  width: 110px;
  font-size: 20px;
  margin-left: 10px;
}

.dropbox label {
  font-family:sans-serif;
}

.search-button, .post-button {
  font-family:sans-serif; 
  font-size: 100%;
}

h3 {
  margin-left: 10px;
}
