
/*
  public barChartOptions: ChartOptions = {
    responsive: true,
  };
*/

input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  padding: .5rem;
}

.serv {
  width: 7%;
}

.dropbox {
  height: 100%
}

select{
  width:500px
}

.dropbox-container{
  width:300px
}
