<div class="container" >
  <h3 style="text-decoration: underline; text-align:center">Add User</h3><br>
  <label>Enter name: </label>
  <input type="text" [placeholder]="'First Last'" [(ngModel)]="user.name" style="width: 240px;"><br><br>
  <label>Enter email:</label>
  <input type="text" [placeholder]="'example@email.com'" [(ngModel)]="user.email" style="width: 240px;"><br><br>
  <label>Enter picture path: </label>
  <input type="text" [placeholder]="'example.com%jpg'" [(ngModel)]="user.picture" style="width: 240px;"><br><br>
  <label>Enter height:</label>
  <input type="text" [placeholder]="heightFiller" [(ngModel)]="user.height" style="width: 100px;"><br><br>
  <label>Enter weight:</label>
  <input type="text" [placeholder]="'145'" [(ngModel)]="user.weight" style="width: 100px;"><br><br>
  <label>Enter age:</label>
  <input type="text" [placeholder]="'25'" [(ngModel)]="user.age" style="width: 100px;"><br><br>
  <label>Enter protein goal: </label>
  <input type="text" [placeholder]="'220g'"  [(ngModel)]="user['protein goal']" style="width: 100px;"><br><br>
  <label>Enter fat goal: </label>
  <input type="text" [placeholder]="'320g'" [(ngModel)]="user['fat goal']" style="width: 100px;"><br><br>
  <label>Enter carb goal: </label>
  <input  (keydown.enter)="postUser()" [placeholder]="'50g'" type="text" [(ngModel)]="user['carb goal']" style="width:100px;"><br>

  <div style="text-decoration: underline; text-align:right"> Go back to the homescreen to login to your new account.
  <button  type="button" (click)="postUser()" mdbBtn color="primary" mdbWavesEffect class='search-button'>Add User</button> <br><br>
  </div>
</div>
