<br><button TYPE='SUBMIT' class="homeButton" routerLink="/Login">Home</button>
<div class="container" >
  <h3 style="text-decoration: underline; text-align:center">Add User</h3><br>
  <label>Enter name: </label>
  <input type="text" [placeholder]="'First Last'" [(ngModel)]="user.name" style="width: 240px;"><br>
  <label>Enter email:</label>
  <input type="email" [placeholder]="'example@email.com'" [(ngModel)]="user.email" style="width: 240px;"><br>
  <label>Enter picture path: </label>
  <input type="text" [placeholder]="'https://imgur.com/pic.png'" [(ngModel)]="user.picture" style="width: 240px;"><br>
  <label>Enter height:</label>
  <input type="text" [placeholder]="heightFiller" [(ngModel)]="user.height" style="width: 100px;"><br>
  <label>Enter weight:</label>
  <input type="number" [placeholder]="'145'" [(ngModel)]="user.weight" style="width: 100px;"><br>
  <label>Enter age:</label>
  <input type="number" [placeholder]="'25'" [(ngModel)]="user.age" style="width: 100px;"><br>
  <label>Enter protein goal: </label>
  <input type="number" [placeholder]="'220g'"  [(ngModel)]="user.proteinGoal" style="width: 100px;"><br/>
  <label>Enter fat goal: </label>
  <input type="number" [placeholder]="'320g'" [(ngModel)]="user.fatGoal" style="width: 100px;"><br>
  <label>Enter carb goal: </label>
  <input  (keydown.enter)="postUser()" [placeholder]="'50g'" type="number" [(ngModel)]="user.carbohydrateGoal" style="width:100px;"><br>

  <div style="text-decoration: underline; text-align:right"> Refresh the homescreen and login to your new account.
  <button type="submit" (click)="postUser()" mdbBtn color="secondary" >Add User</button> <br><br>
  </div>
</div>
