.container{
  width: 600px;
  text-align:left
}
.homeButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 60px;
  border-radius: 25px;
  background-color: #75DBCD;
  font-family: "Lucida Console", "Courier New", monospace;
  background-image: url('https://github.com/elchic00/Macros-for-geeks/blob/main/mfg_website/src/assets/Macros-For-Geeks-Logo-2.png');
}

/*.logo:hover{
  opacity: 0.3;
}*/
h1 {
  font-family:'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-weight: bold;
}

label {
  display: inline-block;
  text-align: left;
}

input {
  display: table-cell;
  margin-bottom: 10px;
}

#height{
  overflow: hidden;
  display: block;

}
