.container{
  width: 40%;
  text-align:left
}
/*#button1,#button1{
  width: 200px;
  height: 40px;
}*/
.buttons{
  margin: 0 auto;
  display: block;
  text-align:center;
}
label {
  display: inline-block;
}

input {
  display: table-cell;
  margin-bottom: 15px;
}

.height{
  overflow: hidden;
  display: block;
}
