<div class="container" *ngIf="userData">
  <h3 style="text-decoration: underline; text-align:center">Update Profile</h3><br>
  <label>Enter name: </label>
  <input type="text" [(ngModel)]="userData.name" style="width: 240px;"><br>
  <label>Enter email:</label>
  <input type="email" [(ngModel)]="userData.email" style="width: 240px;"><br>
  <label>Enter picture path: </label>
  <input type="text"  [(ngModel)]="userData.picture" style="width: 240px;"><br>
  <label>Enter height:</label>
  <input type="text"  [(ngModel)]="userData.height" style="width: 100px;"><br>
  <label>Enter weight:</label>
  <input type="number" [(ngModel)]="userData.weight" style="width: 100px;"><br>
  <label>Enter age:</label>
  <input type="number" [(ngModel)]="userData.age" style="width: 100px;"><br>
  <label>Enter protein goal: </label>
  <input type="number"  [(ngModel)]="userData.proteinGoal" style="width: 100px;"><br>
  <label>Enter fat goal: </label>
  <input type="number" [(ngModel)]="userData.fatGoal" style="width: 100px;"><br>
  <label>Enter carb goal: </label>
  <input  (keydown.enter)="updateUser()" type="number" [(ngModel)]="userData.carbohydrateGoal" style="width:100px;"><br>
    <br/>
  <div class="buttons">
    <button  routerLink="/Login" type="submit" (click)="deleteUser()" mdbBtn color="secondary" id='button1'>Delete Profile</button>
    <button  routerLink="/Home" type="submit" (click)="updateUser()" mdbBtn color="secondary" id='button2'>Update Profile</button>
  </div>
  </div>
