.container{
  width: 40%;
  text-align:left
}
/*#button1,#button1{
  width: 200px;
  height: 40px;
}*/
.buttons{
  margin: 0 auto;
  display: block;
  text-align:center;
}
input {
  display: table-cell;
}
/*label{
  text-decoration: underline;
  text-align:right;
  display: table-cell;

}*/

label {
  text-decoration: underline;
  display: inline-block;
  width: 140px;
  text-align: right;
  margin-bottom: 20px;
}
